
.btn-rojo{
  background:#ef6461!important;
  color: #fff!important;
  border-radius: 0px!important;
}
.btn-verde{
  background:#92dce5!important;
  color: #fff!important;
  border-radius: 0px!important;
}
