.hero{
height:  500px;
background-image:url("../img/image-banner.png");
background-position: bottom;
background-repeat: no-repeats;
background-attachment: fixed;
background-size: cover;
}

.img-hero{

}

.yuki img{
  box-sizing: border-box;
  width: 9vw;
  display: block;
  border-radius: 50%;
  float: left;
}

.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.--yuki{
display: inline-block;

}
